
body{
  background-color: #F5F8FF;
}
.open-sans-simple{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




.open-sans-risk{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.top{
    margin-top: -60px;
}
.banner{
 
    background-image: url(./media/Hero-bg.png);
    background-size: cover;
    margin-top: -5px;
    width: 100%;
    height: 698px;
    margin-bottom: 20px;
/* display: flex; */
    
 
}
/* navber */

.logo{
    color: #4E47FF;
    font-size: 34px;
}

ul li{
    list-style: none;
}
ul a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

/* shere */



.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
   
   
}

.btn-h:hover{
  background-color: black;
  transition: calc(.50s);
}

.btn-h2:hover{
  color: white;
}

/* Description */
.description{
    display: block;
   text-align: center;
   margin: 310px 267px 700px 267px;
   gap: 37px;
   
   
}
.description-contain{
    font-size: 65px;
    font-weight: bold;
}


/* action */

.action{
    display: flex;
    justify-content: space-between;
    margin:63px;
    padding: 62px;
}

.in-action{
    font-size: 42px;
    font-weight: bold;
}
.action-description{
    font-size: 24px;
    color: #252432;
    font-size: 24px;
   
    
    
}

.btn-2{
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.action-img img{
    border-radius: 48px;
    width: 403px;
    height: 328px;
    margin-left: 220px;
}
/* productive */
.stats-container{
    background-color: #E5E7FF;
    border-radius: 24px;
    margin: 129px 283px 137px 141px;
    padding: 50px;
    
}

.stats-container h2 {

  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

.stats-box {
  display: flex;
  justify-content: space-around;
  gap: 40px;
 
  font-weight: bold;
}

.stat-item {
  text-align: center;
}

.stat-item .number {
    justify-content: space-around;
  font-size: 80px;
  font-weight: bold;
  color: #5c6eff;
  margin-left: 90px;
}

.stat-item p {
    color: #72737F;
  margin-top: 5px;
  margin-left: 80px;
  font-size: 20px;
}

.user-section{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}




.all-continer{
  
  display: flex;
  justify-content: center;
gap: 20px;
  
}

.
.main-title{
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.star ul{
  display: flex;
  gap: 4px;
 margin-left: -40px;

}

.star{
  /* margin-left: -20px; */
  
}
.card{

  background-color: white;
  width: 370px;
  padding: 24px;
  /* background-color: #E5E7FF; */
  /* box-shadow: 5px 0px 5px 2px; */
border-radius: 14px;

}

.main-photo{
  display: flex;
  align-items: center;
  gap: 12px;
}

.main-photo img{
  width: 40px;
  height: 40px;
  border-radius: 9999px;
}



.review-date {
  font-size: 12px;
  color:#B3B3B3;
  margin-top: -20px;
display: flex;
margin-left: 52px;
}

.review-name{
  color: #757575;
}

.card-title{
  font-size: 30px;
}

.card-title p{
  gap: 24px;
}

.main-title{
  font-size: 32px;
text-align: center;
padding: 50px;
}


/* focus */

.focus{

  background-color: white;
  margin: 137px 150px 90px 151px;
  padding: 15px;
  border-radius: 14px;
 
}

.focus h2{
text-align: center;
font-size: 50px;
margin: 71px 312px; 


}


.focus-p{
text-align: center;
}
.focus-photo{
margin: 130px 150px 71px 150px;
border-radius: 48px;
width: 840px;
height: 364px;
}

.f-btn{
  background-color: #4E47FF;
  color: white;
  margin-left: 480px;
  padding: 12px 36px;
 border-radius: 10px;
 border: none;
 font-size: 18px;
 align-items: center;


}




.f-container{
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}

.f-title{
  width: 100%;
}

.f-container input[type="text"], .f-container input[type="email"], .f-container textarea{
  height: 64px;
  border-radius: 10px;
  border: none;
  background-color: white;
  display: block;
  width: 100%;
  padding: 1px 20px;
  margin-bottom: 24px;

}

.main-form{
  width: 490px;
  height: 490px;
}

.main-form label{
  padding: 10px;
}

.primary{
  font-size: 16px;
  font-weight: bold;
  background-color: #4E47FF;
  color: white;
  width: 500px;
  height: 62px;
  
  /* padding: 110px 19px; */
  border-radius: 10px;
  border: none;
  gap: 10px;
}
.f-title{
  width: 528px;
  height: 332px;
  font-size: 50px;
}



/* footer */


footer{
  background-color: white;
  height: 1440px;
  height: 430px;
  text-align: center;
 
}

.footer-container{
  /* border: 10px solid red; */
  width: 800px;
margin-left: 200px;

display: block;
  justify-content: center;
  padding:90px;
  /* width: 600px; */
  
 
}

.navber ul{
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  
  
}

/* .navber{
  display: flex;
} */

.navber{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  align-items: center;
  
  

  
}

.footer-container h1{
  color: #4E47FF;
  font-size: 50px;
  margin-left: 90px;
}

.footer-container p{
  font-size: 20px;
  
margin-left: 100px;
}

.navber ul li{
  margin-left: 50px;
 
}